<a href="https://colab.research.google.com/github/vijayshankarrealdeal/intro_to_pytorch-Gans/blob/main/Pytorch2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [109]:
!wget https://raw.githubusercontent.com/PacktWorkshops/The-Deep-Learning-with-PyTorch-Workshop/master/Chapter02/Exercise2.02/energydata_complete.csv

--2021-07-25 13:16:54--  https://raw.githubusercontent.com/PacktWorkshops/The-Deep-Learning-with-PyTorch-Workshop/master/Chapter02/Exercise2.02/energydata_complete.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11979363 (11M) [text/plain]
Saving to: ‘energydata_complete.csv.9’

energydata_complete 100%[===================>]  11.42M  --.-KB/s    in 0.08s

2021-07-25 13:16:54 (142 MB/s) - ‘energydata_complete.csv.9’ saved [11979363/11979363]

In [110]:
import pandas as pd
import torch
import torch.nn as nn
import matplotlib.pyplot as plt
import numpy as np

In [111]:
"""
The Appliances energy prediction Dataset contains 4.5 months of data related to temperature and humidity measures
for different rooms in a low-energy building, with the objective of predicting the energy 
that's used by certain appliances
"""

"\nThe Appliances energy prediction Dataset contains 4.5 months of data related to temperature and humidity measures\nfor different rooms in a low-energy building, with the objective of predicting the energy \nthat's used by certain appliances\n"

In [112]:
df = pd.read_csv('/content/energydata_complete.csv')
df = df.drop(['date'],axis = 1)

In [113]:
df.head()

   Appliances  lights     T1  ...  Tdewpoint        rv1        rv2
0          60      30  19.89  ...        5.3  13.275433  13.275433
1          60      30  19.89  ...        5.2  18.606195  18.606195
2          50      30  19.89  ...        5.1  28.642668  28.642668
3          50      40  19.89  ...        5.0  45.410389  45.410389
4          60      40  19.89  ...        4.9  10.084097  10.084097

[5 rows x 28 columns]

In [114]:
Y = df['Appliances']
X = df.iloc[:,1:]

In [115]:
X = (X - X.min()) / (X.max() - X.min())
X.head()

     lights       T1      RH_1  ...  Tdewpoint       rv1       rv2
0  0.428571  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1  0.428571  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2  0.428571  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3  0.571429  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4  0.571429  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [116]:
train_end = int(len(X) * 0.6)
dev_end = int(len(X) * 0.8)

In [117]:
X_shuffle = X.sample(frac=1, random_state=0)
Y_shuffle = Y.sample(frac=1, random_state=0)

In [118]:
x_train = X_shuffle.iloc[:train_end,:]
y_train = Y_shuffle.iloc[:train_end]
x_dev = X_shuffle.iloc[train_end:dev_end,:]
y_dev = Y_shuffle.iloc[train_end:dev_end]
x_test = X_shuffle.iloc[dev_end:,:]
y_test = Y_shuffle.iloc[dev_end:]

In [119]:
print(x_train.shape, y_train.shape)
print(x_dev.shape, y_dev.shape)
print(x_test.shape, y_test.shape)

(11841, 27) (11841,)
(3947, 27) (3947,)
(3947, 27) (3947,)

In [120]:
from sklearn.model_selection import train_test_split

In [121]:
x_new, x_test_2, \
y_new, y_test_2 = train_test_split(X_shuffle, Y_shuffle, \
                                   test_size=0.2, \
random_state=0)
dev_per = x_test_2.shape[0]/x_new.shape[0]
x_train_2, x_dev_2, \
y_train_2, y_dev_2 = train_test_split(x_new, y_new, \
                                      test_size=dev_per, \
random_state=0)

In [122]:
x_train = torch.tensor(x_train.values).float()
y_train = torch.tensor(y_train.values).float()
x_dev = torch.tensor(x_dev.values).float()
y_dev = torch.tensor(y_dev.values).float()
x_test = torch.tensor(x_test.values).float()
y_test = torch.tensor(y_test.values).float()

In [123]:
class Network(nn.Module):
  def __init__(self,input=27,output=1,hidden_dims= 30):
    super(Network,self).__init__()
    self.gen = nn.Sequential(
        nn.Linear(input,hidden_dims*2),
        nn.ReLU(),
        nn.Linear(hidden_dims*2,hidden_dims),
        nn.ReLU(),
        nn.Linear(hidden_dims,output),
    )
  def forward(self,x):
    return self.gen(x)

In [124]:
num_iter =  5000
losses = []
model = Network(x_train.shape[1])
optimizer = torch.optim.Adam(model.parameters(),lr= 0.001)
loss_fn = torch.nn.MSELoss()

In [ ]:
for i in range(num_iter):
  y_hat = model(x_train).squeeze()
  loss = loss_fn(y_hat,y_train)
  losses.append(loss.item())
  if i% 100 == 0:
    print(loss.item())
  optimizer.zero_grad()
  loss.backward()
  optimizer.step()

20299.5
14879.4072265625
10840.228515625
10779.482421875
10677.2939453125
10513.0263671875
10311.7265625
10095.6591796875
9882.31640625
9692.98046875
9541.412109375
9430.9140625
9352.2666015625
9284.23828125
9228.5615234375
9179.7919921875
9131.8955078125
9082.9287109375
9030.7470703125
8988.2568359375
8949.484375

In [ ]:
plt.plot(range(num_iter),losses)

In [ ]:
pred = model(x_test[0])
print("Ground truth:", y_test[0].item(), \
      "Prediction:",pred.item())